#apropos{
  width: auto;%;
  height: auto;
/*  height: 1200px;*/
  background-color: rgb(220, 209, 204);
}

h1{
  /*  border: 1px solid red;*/
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: left;
  color: rgb(151, 149, 146);

}
h2{
  /*  border: 1px solid black;*/
  font-family: 'Raleway', sans-serif;
  color: rgb(151, 149, 146);
  text-align: left;
}
p{
  font-size: 16px;
  /* border: 1px solid blue;*/
  text-align: left;
}


.texte{
  width: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 22px;
  margin-top: 12px;
}


.texte h2{
  font-family: 'Raleway', sans-serif;
  color: rgba(159, 150, 137, 3);

}
.truc{
  border-bottom: 1px solid rgba(151, 149, 146, 0.9 );
}

.bandeau2{
  background-image: url(img/bandeau2.png);
  background-size: 100% 250px;
  background-repeat: no-repeat;
  position: absolute;;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 250px;
}




.contenu {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.texte{
  text-align: center;
  margin-right: auto;
  width: 100%;
  height: 900px;
}


.contenu img{
  margin-top: 30px;
  margin-left: 12px;

  background-repeat: no-repeat;
  background-size: 100px 100px;
}
/*-----------------------------------*/
.contenu img:hover{
  width: 16%;
  height: 20%;
}

.contenu h2{
  font-family: 'Raleway', sans-serif;
  color: black;
}

/*-----------------------------------*/

.col-lg-6-image h2{
  font-family: 'Raleway', sans-serif;
}

.experience{
  width: 100%;
  height: auto;;
  background-color: rgb(220, 209, 204);

}
.titre{
  width: 100%;
  height: 242px;
  background-image: url(img/bandeau.png);
  background-size: 100% 250px;
  background-repeat: no-repeat;

}
.destroispremier{
/*  width: 1px;*/
}
.deuxmilleseize{
}
.experience p{
  text-align: left;
  width: 20%;
  color: white;
}
table{
color: white;
}
th h2 {
  text-align: center;
}
td {
    border-top: 1px solid white;
}

td  {
  }
